@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Contoso University</h1>
    <img style="float:right" src="images/BostonUniversity.jpg" alt="Boston University"/>
</div>
<div class="row" >
    <div style="border-color: lightgreen; border-width: 3px;background-color:bisque;border-style:solid; padding: 5px;">
        <p>
            Contoso University is a first-class school created to help you develop into the person you want to be.
            You will receive an excellent education that will open doors you didn't even know were available
            to you.  Come visit our campus and start your tomorrow!
        </p>
    </div>
</div>